
/*---------------------------------------------------------*/
/* Universal Buy Button                                    */
/*---------------------------------------------------------*/

.mbt-book-buybuttons .mbt-universal-buybutton,
.mbt-book-buybuttons .mbt-universal-buybutton:link,
.mbt-book-buybuttons .mbt-universal-buybutton:visited,
.mbt-book-buybuttons .mbt-universal-buybutton:hover,
.mbt-book-buybuttons .mbt-universal-buybutton:active {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #0F0B10 !important;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

	border: 1px solid #CCD1D2;
	border-radius: 5px;

	background: #ecf0f3;
	background: -moz-linear-gradient(top,  #ecf0f3 0%, #f7f9fb 50%, #e0e9ee 51%, #edf1f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f3), color-stop(50%,#f7f9fb), color-stop(51%,#e0e9ee), color-stop(100%,#edf1f4));
	background: -webkit-linear-gradient(top,  #ecf0f3 0%,#f7f9fb 50%,#e0e9ee 51%,#edf1f4 100%);
	background: -o-linear-gradient(top,  #ecf0f3 0%,#f7f9fb 50%,#e0e9ee 51%,#edf1f4 100%);
	background: -ms-linear-gradient(top,  #ecf0f3 0%,#f7f9fb 50%,#e0e9ee 51%,#edf1f4 100%);
	background: linear-gradient(to bottom,  #ecf0f3 0%,#f7f9fb 50%,#e0e9ee 51%,#edf1f4 100%);
}

/*---------------------------------------------------------*/
/* Button Styling                                          */
/*---------------------------------------------------------*/

.mbt-book .mbt-primary-button,
.mbt-book .mbt-primary-button:link,
.mbt-book .mbt-primary-button:visited {
	background-color: #E1EAEE;
	color: black;
}
